# toplevel
/requirements.txt
/resources.txt
#above needed as I change often to make formula with python requirements
/.bundle/
/bin/
/vendor/

# anywhere in the tree
*~
.DS_Store
.ruby-version
coverage
